/* ROOT */

:root {
    font-family: sans-serif;
}

/* BASE */

html, body {
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  background-color: black;
  position: relative;
}

img { 
    max-width: 100%;
}

/* MEDIA QUERY - MOBILE */

@media (min-width: 20rem) {

    .fog {
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background: url(/images/FogTexture.png);
        background-size: cover;
        background-position: center;
        z-index: 1;
        pointer-events: none;
    }
    
    /* SITE HEADER & MENU */
    .site-header,
    footer {
        padding: 1rem;
        width: 100%;
        background-color: gray;
        height: 6rem;
        align-content: center;
    }

    footer > p {
        color: white;
        text-align: center;
        font-size: 1em;
    }

    .site-header__container {
        display: flex;
        align-items: center;
    }

    .site-header__menu {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: transform 0.25s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: orange;
        z-index: 10;
    }

    .site-header__menu.open {
        transform: translateX(0);
        max-height: 100vh;
    }

    .site-header__menu a {
        color: var(--color-brownBread);
        text-decoration: none;
        display: block;
        padding: 1.5rem;
        font-size: 1.75rem;
        font-family: var(--ff-roboto);
        font-weight: 350;
    }

    .site-header__close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2rem;
    }

    .site-header__close a {
        border-bottom: unset;
        padding: 2rem;
    }

    .site-header__menu-icon {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
    }

    .site-header__menu-icon a {
        display: inline-flex;
        padding: 0.75rem;
        color: var(--color-brownBread);
        text-decoration: none;
    }

    /* MAIN */
    
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        width: 100%;
    }

    .content {
        grid-column: 1 / -1;
        text-align: center;
        padding: 1rem;
    }

    h1 {
        font-size: 3rem;
        padding: 1rem;
        line-height: 3.5rem;
        color: white;
    }

    .horror {
        color: orange;
        font-weight: 800;
    }

    p {
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 1rem;
        color: gray;
    }

    input[type=text] {
        width: 80%;
        padding: 1rem;
        margin: 8px 0;
        box-sizing: border-box;
        font-size: 1rem;
    }

    input[placeholder] {
        text-align: center;
    }

    button {
        width: 80%;
        padding: 1rem;
        font-size: 1rem;
    }

    .picks-carousel {
        z-index: 0;
    }

    .top-picks > h1 {
        color: orange;
        text-align: center;
    }

    .flickity-page-dots {
        bottom: 10px;
    };



}

/* MEDIA QUERY - TABLET */

@media (min-width:52.125rem) {}

/* MEDIA QUERY - DESKTOP */

@media (min-width: 90rem) {

    /* SITE HEADER & MENU */
    .site-header__close,
    .site-header__menu-icon {
        display: none;
    }

    .site-header__menu {
        position: unset;
        transform: unset;
        background-color: unset;
        box-shadow: unset;
        width: unset;
        margin-left: auto;
    }

    .site-header__menu a {
        color: var(--color-brownBread);
        display: inline-block;
        padding: unset;
    }

    .site-header__menu ul {
        display: flex;
        gap: 1rem;
    }
}