/* ROOT */

:root {
    --font-family: sans-serif;
    --ff-Rubik: "Rubik Distressed", sans-serif;
    --ff-Amarante: "Amarante", sans-serif;
    --ff-Poppins: "Poppins", sans-serif;
    --color-orange: orange;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-lightgrey: lightgray;
    --color-darkslateblue: darkslateblue;
    --color-darkgray: #141414;
    --color-green: greenyellow;
}

/* BASE */

html, body {
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  background-color: var(--color-black);
  position: relative;
}

h1, h2 {
    font-family: var(--ff-Rubik);
    font-weight: 100;
    color: var(--color-white);
}

h1 {
    font-size: 3rem;
    line-height: 3.5rem;
}

h3, input[type=text], input[placeholder], .ui-autocomplete, .ui-widget button, .ui-widget button:hover, .search-btn, .search-btn:hover, footer > p {
  font-family: var(--ff-Poppins);
}

p, .content-about p {
  font-family: var(--ff-Amarante);
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--color-white);
  }

p {
    padding: 3rem 1rem;
}

img { 
    max-width: 100%;
}

/* COMMON BUTTON STYLES */

.ui-widget button,
.search-btn {
  display: block;
  width: 90%;
  padding: 1.5rem;
  font-size: 1rem;
  text-align: center;
  border-radius: .4rem;
  text-decoration: none;
  margin: 1rem auto;
}

.ui-widget button:hover,
.search-btn:hover {
  background-color: var(--color-green);
  color: var(--color-black);
  font-weight: 800;
}

.ui-widget button {
    background-color: var(--color-darkslateblue);
    color: white;
}

/* MEDIA QUERY - MOBILE */

@media (min-width: 20rem) {

    .fog {
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background: url(/images/FogTexture.png);
        background-size: cover;
        background-position: center;
        z-index: 1;
        pointer-events: none;
    }

    
    
    /* SITE HEADER & MENU */
    .site-header,
    footer {
        padding: 1rem;
        width: 100%;
        background-color: var(--color-darkslateblue);
        height: 6rem;
        align-content: center;
    }

    footer > p {
        color: var(--color-white);
        text-align: center;
        font-size: 1rem;
        padding: 1rem;
    }

    .site-header__container {
        display: flex;
        align-items: center;
    }

    .site-header__menu {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: transform 0.25s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--color-orange);
        z-index: 10;
    }

    .site-header__menu.open {
        transform: translateX(0);
        max-height: 100vh;
    }

    .site-header__menu a {
        color:var(--color-darkslateblue);
        text-decoration: none;
        display: block;
        padding: 1.5rem;
        font-size: 1.75rem;
        font-family: var(--ff-Amarante);
        font-weight: 350;
    }

    .site-header__menu li {
        padding: 1rem;
    }

    .site-header__menu.open a:hover {
        color: var(--color-green);
    }

    .nav a {
        font-size: 3rem;
    }

    .nav a:hover {
        color: var(--color-green);
    }

    .site-header__close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2rem;
    }

    .site-header__close a {
        border-bottom: unset;
        padding: .5rem;
        font-size: 3rem;
    }

    .site-header__close a:hover {
        color: var(--color-green);
    }

    .site-header__menu-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        font-size: 3rem;
    }

    .site-header__menu-icon a {
        display: inline-flex;
        padding: .5rem;
        text-decoration: none;
        color: var(--color-orange);
    }

    .site-header__menu-icon a:hover {
        color: var(--color-green);
    }

    /* MAIN */
    
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        width: 100%;
    }

    .content {
        grid-column: 1 / -1;
        text-align: center;
        padding: 3rem 1rem;
        background-color: var(--color-darkgray);
    }

    .horror {
        color: var(--color-orange);
        font-size: 4rem;
        text-align: center;
    }

    /* FORM SUBMISSION */

    input[type=text] {
        width: 90%;
        padding: 1.5rem;
        margin: .25rem 0;
        box-sizing: border-box;
    }

    input[placeholder] {
        text-align: center;
    }

    input:focus {
        border: .25rem solid var(--color-green);
        outline: none;
    }

    /* Styles the autocomplete dropdown container */
    .ui-autocomplete {
        font-size: 1rem;
        background-color: var(--color-white);
    }

    /* Style individual items */
    .ui-menu-item {
        padding: .25rem;
    }

    /* Style the hovered/active item */
    .ui-menu-item-wrapper.ui-state-active {
        background-color: var(--color-orange);
        color: #ffffff;
        font-weight: bold;
        font-size: 1rem;
    }

    .picks-carousel {
        z-index: 0;
    }

    .top-picks > h1 {
        color: var(--color-orange);
        text-align: center;
        padding: 1.5rem;
    }

    .carousel-cell {
        margin-right: 1rem;
    }

    .flickity-page-dots {
        bottom: 1rem;
    }

    /* RESULTS */

    .movie-card {
        background: var(--color-darkgray);
        padding: 1.5rem;
        margin: 1rem;
        border-radius: 8px;
        max-width: 90%;
        font-family: sans-serif;
        text-align: center;
        align-self: center;
        justify-self: center;
        }

    .movie-card img {
        width: 100%;
        border-radius: .25rem;
        border: 1px solid var(--color-lightgrey);
    }

    .movie-card h1 {
        color: var(--color-green);
        justify-self: center;
        font-size: 2rem;
        padding: .5rem;
        line-height: 2.5rem;
    }

    .movie-card h2 {
        color: var(--color-darkslateblue);
        justify-self: center;
        font-size: 1rem;
    }

    .movie-card h3 {
        color: var(--color-lightgrey);
        padding: .75rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .movie-card p {
        padding: 1rem 0;
        padding-bottom: .5rem;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .search-btn {
        background-color: var(--color-orange);
        color: var(--color-black);
    }

    .search-btn:hover {
        font-weight: 800;
    }

    /* ABOUT */

    .content-about {
        grid-column: 1 / -1;
        text-align: center;
        padding: 1rem;
    }

    .content-about h1 {
        color: var(--color-orange);
        padding: 2rem;
    }

    .content-about h2 {
        color: var(--color-green);
        font-size: 2rem;
        padding: 1rem;
    }

    .content-about p {
        font-size: 1.5rem;
        padding: 1.5rem .25rem;
    }

}

/* MEDIA QUERY - TABLET */

@media (min-width:52.125rem) {

    .site-header__menu-icon {
        font-size: 4rem;
    }

    .site-header__menu-icon a {
        padding: 0 .5rem;
    }

    .nav a {
        font-size: 4rem;
    }

    .site-header__close a {
        font-size: 4rem;
    } 

    h1 {
        font-size: 5rem;
    }

    .horror {
        font-size: 7rem;
        line-height: 8rem;
    }

    p {
        font-size: 3.5rem;
        line-height: 4rem;
        padding: 7rem 0;
    }

    .content {
        padding: 7rem;
    }

    input[type=text] {
        padding: 2rem;
        font-size: 1.5rem;
    }

    .ui-widget button {
        padding: 2rem;
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    .ui-autocomplete {
        font-size: 1.5rem;
    }

    .top-picks > h1 {
        padding: 3rem;
    }

    footer {
        padding: 0;
    }

    footer > p {
        font-size: 1.25rem;
    }
    
    .movie-card {
        width: 80%;
        padding: 2rem;
        margin: 5rem;
        margin-bottom: 2rem;
    }

    .movie-card img {
        width: 80%;
        margin: 2rem;
    }

    .movie-card h1 {
        font-size: 3rem;
        padding: 1rem;
    }

    .movie-card h2 {
        font-size: 1.75rem;
        padding: 1rem;
    }

    .movie-card h3 {
        font-size: 1.25rem;
        line-height: 1.75rem;
        padding: 1rem;
    }

    .movie-card p {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .search-btn {
        padding: 2rem;
        font-size: 1.5rem;
        width: 80%;
    }

    .content-about h1 {
        padding: 3rem;
    }

    .content-about h2 {
        font-size: 2.5rem;
        padding: 3rem;
    }

    .content-about p {
        font-size: 2rem;
        line-height: 2.5rem;
        padding: 1.5rem 1rem;
        margin-bottom: 1.75rem;
    }
}


/* MEDIA QUERY - DESKTOP */

@media (min-width: 90rem) {

    /* SITE HEADER & MENU */
    .site-header__close,
    .site-header__menu-icon {
        display: none;
    }

    .site-header__menu {
        position: unset;
        transform: unset;
        background-color: unset;
        box-shadow: unset;
        width: unset;
        margin-left: auto;
    }

    .site-header__menu a {
        color: var(--color-orange);
        display: inline-block;
        padding: unset;
    }

    .site-header__menu ul {
        display: flex;
        gap: 1rem;
    }

    .nav li {
        padding: 0 1rem;
    }

    .nav a {
        font-size: 1.75rem;
    }

    p {
        font-size: 3rem;
    }

    .movie-card {
        width: 70%;
        margin: 3rem;
    }

    .movie-card img {
        width: 70%;
        margin-bottom: 1rem;
    }

    .movie-card h2 {
        font-size: 1.5rem;
    }

    .movie-card p {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .search-btn {
        padding: 2rem;
        font-size: 1.5rem;
        width: 70%;
    }

    .content-about {
        margin-bottom: 2rem;
    }

    .content-about h1 {
        padding: 2rem;
    }

    .content-about h2 {
        font-size: 2.5rem;
        padding: 2rem;
    }

    .content-about p {
        padding: 2rem 5rem;
        margin-bottom: 0;
    }


}